@model IEnumerable<MVC5Course.Models.ViewModels.productLiteVM>

<h2>ListProducts</h2>

<form method="get">
    productname:
    @Html.TextBox("q")
    Stock_S:
    @Html.TextBox("Stock_S")

    Stock_E:
    @Html.TextBox("Stock_E")
    <button>搜尋</button>

</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>

        </tr>
    }

</table>
